* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #403c3c;
}
.main-content {
  background-color: #534d4d;
  border-radius: 10px;
  height: 420px;
  width: 90%;
  display: flex;
  flex-direction: row;
  box-shadow: 6px 6px 100px #1b1b1bcb;
}
.main-content img {
  height: 420px;
  width: auto;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}
.main-content .written-content {
  width: 100%;
  margin-left: 96px;
  margin-top: 75px;
  color: #ffffff;
}
.main-content .written-content h1 {
  font-family: "Lobster", cursive;
  font-size: 48px;
  color: #e15959;
  transform: translateX(-1%);
  position: relative;
}
.main-content .written-content h2 {
  font-family: "Lobster", cursive;
  font-size: 36px;
}
#duck-search {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  width: 70%;
  margin-left: 2px;
}
#duck-search:focus {
  border: none;
  outline: none;
  cursor: text;
  color: #ffffff;
  font-weight: 400;
}
#date {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fdf541e0;
}
.search {
  margin-top: 25px;
}

.links .links-subhead {
  margin-top: 14px;
}
.links .links-subhead h2 {
  margin-right: 34px;
  font-weight: 400;
  margin-bottom: 2px;
}

.links-subhead ul {
  display: flex;
  flex-direction: row;
}
.links-subhead ul ul {
  display: flex;
  flex-direction: column;
  width: 100%;

  list-style: none;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.links-subhead ul ul li {
  margin-left: 4px;
}
.links-subhead ul ul li a {
  text-decoration: none;
  color: #ffffff;
}
.links-subhead ul ul li a:hover {
  cursor: pointer;
  color: #e15959;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 4%;
  /* z-index: 5; */
  transition: 0.1s ease-in;
}
#web-dev-heading {
  transform: translateX(-4%);
}

@media screen and (max-width: 800px) {
  body {
    background-color: #403c3c;
  }
  .main-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-content img{
    margin-top: 47vh;

  }
  .main{
    /* margin-top: 10vh; */
    height: auto;
    
  }
}